
<ul id="chat" >
    <%= render @messages %>
</ul>

<%= form_for Message.new, :remote => true do |f| %>
<div class="clearfix">
            <%= f.hidden_field :user_id, :value => current_user.id %>
           <label>Comentário</label>
            <div class="input"><%= f.text_area :content, :rows => 3%></div>
          </div>
          <div class="actions">
              <%= f.submit 'Adicionar', :class => 'btn primary' %>
          </div>
<% end %>

<script type="text/javascript">
  window.onload = function(){
      var intervalo = setInterval("document.getElementById('chat').scrollTop = 1000000;", 500);
  }
</script>
