<%= form_for(@ticket, :html => {:multipart => true} ) do |f| %>

  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

  <fieldset>
    <legend>Abrindo um Ticket</legend>

    <div class="clearfix">
      <label>Sumário do Ticket:</label>
      <div class="input"><%= f.text_field :summary %></div>
    </div>

    <div class="clearfix">
      <label>Prioridade</label>
      <div class="input"><%= f.select :priority, options_for_select(["Selecione prioridade", "0", "1", "2", "3"],:disabled => ["Selecione prioridade"]) %></div>
    </div>


    <div class="clearfix">
      <label for="fileInput">Imagem:</label>
      <div class="input">
        <%= f.file_field :image%>
      </div>
    </div>
    <div class="clearfix">
      <label for="fileInput">Documento:</label>
      <div class="input">
        <%= f.file_field :doc%>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Detalhes do Ticket:</legend>

    <div class="clearfix">
      <div class="inout"><%= f.cktext_area :description, :toolbar => 'Easy', :width => 800, :height => 400 %></div>

    </div>


  </fieldset>
  <%if current_user.role == "admin" %>
    <fieldset>
      <div class="clearfix">
        <label>Status:</label>
        <div class="input"><%= f.select :status, options_for_select(["Selecione", "Open", "Closed", "Ongoing"],:disabled => ["Select One"]) %></div>
      </div>
      <div class="clearfix">
        <label>Time:</label>
        <div class="input"><%= f.datetime_select :time %></div>
      </div>
      <div class="clearfix">
        <label for="fileinput">Desenvolvedor:</label>
        <div class="input">
          <%= f.collection_select :developer_id,User.all,:id,:email,{:include_blank => true}%>
        </div>
      </div>

    </fieldset>
  <%end%>
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn primary' %>
    <%= link_to 'Voltar', tickets_path, :class => 'btn info' %>
  </div>
</iv>

<% end %>
