<%= form_for(@ticket, :html => {:multipart => true} ) do |f| %>

  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

  <fieldset>
    <legend>Abrindo um Ticket</legend>

    <div class="clearfix">
      <label>Sumário do Ticket:</label>
      <div class="input"><%= f.text_field :summary %></div>
    </div>

    <div class="clearfix">
      <label>Prioridade</label>
      <div class="input"><%= f.select :priority, options_for_select(["Selecione prioridade", "0", "1", "2", "3"],:disabled => ["Selecione prioridade"]) %></div>
    </div>

    <!-- <div class="clearfix">
      <label>Status</label>
      <div class="input"><%#= f.select :status, options_for_select(["Select One", "Open", "Ongoing", "Closed", "Outsourced"],:disabled => ["Select One"]) %></div>
    </div>-->
    <div class="clearfix">
      <label for="fileInput">Imagem:</label>
      <div class="input">
        <%= f.file_field :image%>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Detalhes do Ticket:</legend>

    <div class="clearfix">
      <div class="inout"><%= f.cktext_area :description, :toolbar => 'Easy', :width => 980, :height => 300 %></div>
    </div>


  </fieldset>
  <div class="actions">
    <%= f.submit :class => 'btn primary large' %>
    <%= link_to 'Cancelar', tickets_path, :class => 'btn large' %>
  </div>
</div>

<% end %>
