<%= form_for(@ticket, :html => {:multipart => true} ) do |f| %>

  <fieldset>
    <legend>Abrindo um Ticket</legend>

    <div class="clearfix">
      <label>Sumário do Ticket:</label>
      <div class="input"><%= f.text_field :summary %></div>
    </div>

    <div class="clearfix">
      <label>Prioridade</label>
      <div class="input"><%= f.select :priority, options_for_select(["Selecione prioridade", "0", "1", "2", "3"],:disabled => ["Selecione prioridade"]) %></div>
    </div>

    <div class="clearfix">
      <label for="fileInput">Imagem:</label>
      <div class="input">
        <%= f.file_field :image%>
      </div>
    </div>
<%unless current_user.role == "user"%>
  <div class="clearfix">
      <label>Status</label>
      <div class="input"><%= f.select :status, options_for_select([["Aberto","Open"], ["Em andamento","Ongoing"], ["Fechado","Closed"], ["Aguardando","Outsourced"]],:disabled => ["Selecione"]) %></div>
  </div>

  <div class="clearfix">
      <label for="fileInput">Desenvolvedor:</label>
      <div class="input">
        <%= f.collection_select :developer_id, users_admins, :id, :name, {:include_blank => "Selecione"} %>
      </div>
  </div>
<%end%>

  </fieldset>

  <fieldset>
    <legend>Detalhes do Ticket:</legend>

    <div class="clearfix">
      <div class="inout"><%= f.cktext_area :description, :toolbar => 'Easy', :width => 980, :height => 300 %></div>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit :class => 'btn primary large' %>
    <%= link_to 'Cancelar', tickets_path, :class => 'btn large' %>
  </div>
</div>

<% end %>
