<%= nested_form_for(@ticket, :html => {:multipart => true} ) do |f| %>

  <fieldset>
    <legend>Abrindo um Ticket</legend>

    <div class="clearfix">
      <label>Sumário do Ticket:</label>
      <div class="input"><%= f.text_field :summary %></div>
    </div>

    <div class="clearfix">
      <label>Prioridade</label>
      <div class="input">
        <%= f.radio_button :priority, "0" %>0
        <%= f.radio_button :priority, "1" %>1
        <%= f.radio_button :priority, "2" %>2
        <%= f.radio_button :priority, "3" %>3
      </div>
    </div>

    <div class="clearfix">
      <label for="fileInput">Imagem:</label>
      <div class="input">
        <%= f.file_field :image%>
      </div>
    </div>

  <!--  <div class="clearfix">
      <label for="fileInput">Documento:</label>
      <div class="input">
        <%#= f.file_field :doc%>
      </div>
    </div>-->


  </fieldset>

  <fieldset>
    <legend>Detalhes do Ticket:</legend>

    <div class="clearfix">
      <div class="inout"><%= f.cktext_area :description, :toolbar => 'Easy', :width => 980, :height => 300 %></div>
    </div>
  </fieldset>
  <%if current_user.role == "admin" %>
    <fieldset>
      <div class="clearfix">
        <label>Status</label>
        <div class="input"><%= f.select :status, options_for_select([["Aberto","Open"], ["Em andamento","Ongoing"], ["Fechado","Closed"], ["Aguardando","Outsourced"]],:disabled => ["Selecione"]) %></div>
      </div>

      <div class="clearfix">
        <label for="fileInput">Desenvolvedor:</label>
        <div class="input">
          <%= f.collection_select :developer_id, users_admins, :id, :name, {:include_blank => "Selecione"} %>
        </div>
      </div>

    </fieldset>
  <%end%>

    <%= f.fields_for :documents do |documento| %>
      <% if documento.object.new_record? %>
        <label for="fileInput">Documento:</label>
        <div class="input">
        <%= documento.file_field :doc%>
        </div>
      <%else%>
       <div class="clearfix">
      <label for="fileInput">Documentos:</label>
      <div class="input">
        <%= documento.hidden_field :_destroy %>
        <%= File.basename(documento.object.doc_url)%>
        <%= documento.link_to_remove "Remover" %><br />

      </div>
    </div>

      <%end%>
    <%end%>
    <%= f.link_to_add "Add Doc", :documents %>

  <div class="actions">
    <%= f.submit :class => 'btn primary large' %>
    <%= link_to 'Cancelar', tickets_path, :class => 'btn large' %>
  </div>
  </iv>

<% end %>
