<div class="page-header">
  <h1>Tickets</h1>
</div>

<% if flash[:alert] %>
	<div class="span12 columns">
      <div class="alert-message warning">
        <p><%= flash[:alert] %></p>
     </div>
	<% end %>
	<% if flash[:notice] %>
	<div class="span12 columns">
      <div class="alert-message success">
        <p><%= flash[:notice] %></p>
     </div>
<% end %>

<% if @tickets.empty? %>

<br />
<%= link_to 'Abrir um novo Ticket', new_ticket_path, :class => "btn primary" %>

<% else %>

<table class="zebra-striped">
  <tr>
    <th>Sumário</th>
    <th>Prioridade</th>
    <th>Assinado</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr class="<%= ticket.priority %>">
    <td><%= ticket.summary %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.assigned %></td>
    <td><span class="<%= ticket.status %>"><%= ticket.status %></span></td>
	<td></td>
    <td><%= link_to 'Show', ticket, :class => 'btn' %>
    <%= link_to 'Edit', edit_ticket_path(ticket), :class => 'btn' %>
    <%= link_to 'Destroy', ticket, :confirm => 'Você tem certeza?', :method => :delete, :class => 'btn danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo ticket', new_ticket_path, :class => "btn primary" %>
<% end %>
