<% if flash[:alert] %>
	<div class="span12 columns">
      <div class="alert-message warning">
        <p><%= flash[:alert] %></p>
     </div>
	<% end %>
	<% if flash[:notice] %>
	<div class="span12 columns">
      <div class="alert-message success">
        <p><%= flash[:notice] %></p>
     </div>
<% end %>

<div class="page-header">
  <h1><%= @ticket.summary %> <small>aberto por <strong><%= @ticket.assigned %></strong> em <strong><%= l @ticket.created_at, :format => :short %></strong>.</small></h1>
</div>

<div class="row">
    <div class="span4 columns">
      <h2>Ticket #<%= @ticket.id %> <small class="<%= @ticket.status %>"><%= @ticket.status %></small></h2>
	  <div class="priority <%= @ticket.priority %>">Prioridade é <%= @ticket.priority %></div>
    </div>

	<div class="span12 columns">
	      <h4>Ticket</h4>
		  <%= @ticket.status %>
		  <%= @ticket.priority %>
		  <%= @ticket.created_at %>
		  <%= @ticket.updated_at %>
    </div>
	<div class="span12 columns ticket-description">
	      <h4>Descrição do ticket</h4>
		  <%= @ticket.description %>
	</div>
  </div><!-- /row -->


<%= link_to 'Editar', edit_ticket_path(@ticket), :class => 'btn info' %>
<%= link_to 'Voltar', tickets_path, :class => 'btn default' %>
