<% if flash[:alert] %>
	<div class="span12 columns">
      <div class="alert-message warning">
        <p><%= flash[:alert] %></p>
     </div>
	<% end %>
	<% if flash[:notice] %>
	<div class="span12 columns">
      <div class="alert-message success">
        <p><%= flash[:notice] %></p>
     </div>
<% end %>

<div class="page-header">
  <h1><%= @ticket.summary %> <small>aberto por <strong><%= @ticket.user.email %> <strong><%= l @ticket.created_at %></strong></small></h1>
</div>

<div class="row">
    <div class="span4 columns">
      <h2>Ticket #<%= @ticket.id %> <small class="<%= @ticket.status %>"><%= transl @ticket.status %></small></h2>
	  <div class="priority <%= @ticket.priority %>">Prioridade é <%= @ticket.priority %></div>
    </div>

	<div class="span12 columns">
	      <h4>Ultima atualização:</h4>
		  <%=l @ticket.updated_at %>
    </div>

  <div class="span12 columns ticket-description">
	      <h4>Descrição do ticket</h4>
        <p><%= @ticket.description.gsub(/\n/,"<br />").html_safe %></p>
        <h4>Comentários</h4>
        <ul id = "chat" >
          <%= render @ticket.messages %>
        </ul>
	</div>

<% unless @ticket.status == "Closed" %>
  <h4>Adicionar Comentário:</h4>
  <%= form_for([@ticket, @ticket.messages.build], :remote => true) do |f| %>
          <div class="clearfix">
            <%= f.hidden_field :user_id, :value => current_user.id %>
           <label>Comentário</label>
            <div class="input"><%= f.text_area :content, :rows => 3%></div>
          </div>
          <div class="actions">
              <%= f.submit 'Adicionar', :class => 'btn primary' %>
          </div>
  <% end %>
<%end%>

</div><!-- /row -->

<%= link_to 'Editar', edit_ticket_path(@ticket), :class => 'btn info' %>
<%= link_to 'Voltar', tickets_path, :class => 'btn default' %>

<script type="text/javascript">
  window.onload = function(){
      var intervalo = setInterval("document.getElementById('chat').scrollTop = 1000000;", 500);
  }
</script>
