<div class="page-header">
  <h1><%= @ticket.summary %> <small>aberto por <strong><%= @ticket.user.email %> <strong><%= l @ticket.created_at %></strong></small></h1>
  </div>

  <div class="row">
    <div class="span4 columns">
      <h2>Ticket #<%= @ticket.id %> <small class="<%= @ticket.status %>"><%= transl @ticket.status %></small></h2>
      <div class="priority <%= @ticket.priority %>">Prioridade é <%= @ticket.priority %></div>
      Desenvolvedor: <%=@ticket.developer.name if @ticket.developer.present?%>
      <p>
      <strong>Imagem:</strong>
      <%= link_to(image_tag(@ticket.image.url(:thumb)),@ticket.image.url(:large),:class => "group") if @ticket.image.present? %>
      </p>
    </div>
    <strong>Documento:</strong>
    <div>
      <%= link_to "Download",@ticket.doc_url unless @ticket.doc.nil? %>
    </div>
  </div>

  <div class="span12 columns">
    <h4>Última atualização:</h4>
    <%=l @ticket.updated_at %>
  </div>

  <div class="span12 columns ticket-description">
    <h4>Descrição do ticket:</h4>
    <p><%= @ticket.description.html_safe %></p>
    <h4>Acompanhamento:</h4>
    <%= render @ticket.messages %><br />

  </div>

</div><!-- /row -->

<% unless @ticket.status == "Closed" %>
  <%= form_for([@ticket, @ticket.messages.build]) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="clearfix">
      <div class="input"><%= f.text_area :content,:rows => 20,:style => "width:500px !important;"%>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Adicionar', :class => 'btn large primary' %>
    </div>
  <% end %>
<%end%>

<hr />

<%= link_to 'Editar', edit_ticket_path(@ticket), :class => 'btn' %>
<%= link_to 'Voltar', tickets_path, :class => 'btn' %>
