<div class="topbar">
	<div class="fill">
		<div class="container">
			<h3><%= link_to 'Leilão Suporte | Beta version 0.2', root_url, :class => 'brand' %></h3>		
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => 'pull-right') do |f| %>
	  			<%= f.email_field :email, :class => 'input-small', :style => "width:160px;", :placeholder => 'e-mail' %>
	 			<%= f.password_field :password, :class => 'input-small', :placeholder => 'senha' %>
	  			<%= f.submit 'Entrar'%>
			<% end %>	
		</div>
	</div>
</div>