<!DOCTYPE html>
<html>
<head>
  <title>Support System beta 0.1</title>
  <%= stylesheet_link_tag :all %>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
  <%= javascript_include_tag :defaults, "http://localhost:9292/faye.js" %>
  <%= javascript_include_tag :ckeditor %>
  <%= javascript_include_tag "http://gettopup.com/releases/latest/top_up-min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="topbar">
	<div class="fill">
		<div class="container">
			<h3><%= link_to 'Support System beta 0.1', root_url, :class => 'brand' %></h3>
			<ul class="nav">
				<li class="active"><%= link_to 'Ticket', tickets_path %></li>
				<li ><%= link_to 'Sair', logout_url %></li>
			</ul>			
		</div>
	</div>
</div>

<div class="content">
	<%= yield %>
</div>
</body>
</html>
