<!DOCTYPE html>
<html>
<head>
  <title>Support System beta 0.1</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :ckeditor %>
  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css", 'fancybox/jquery.fancybox-1.3.4.css' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="topbar">
	<div class="fill">
		<div class="container">
			<h3><%= link_to 'Support System beta 0.1', root_url, :class => 'brand' %></h3>
			<ul class="nav">
				<li class="active"><%= link_to 'Ticket', tickets_path %></li>
				<li ><%= link_to 'Sair', logout_url %></li>
			</ul>			
		</div>
	</div>
</div>

<div class="content">
	<%= yield %>
</div>
gg
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'jquery.js' %>
<%= javascript_include_tag 'fancybox/jquery.mousewheel-3.0.4.pack', 'fancybox/jquery.fancybox-1.3.4.pack' %>
<script>
//fancybox
$(document).ready(function() {
  $("a.group").fancybox({
	'autoScale'		: true,
	'transitionIn'	: 'fade',
	'transitionOut'	: 'fade',
	'overlayColor'	: '#000',
	'overlayOpacity': '0.8',
	'centerOnScroll': true
	})
});
</script>
</body>
</html>
