<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="PT_BR" lang="PT_BR" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
	<title>LEILÃO DE SEMINOVOS / Área Restrita</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" /> 
    <meta http-equiv="expires" content="0" />
    <meta name="revisit-after" content="1 day" />
    <meta name="rating" content="Leilão de Carros" />
    <meta name="language" content="pt-br" />
    <meta name="robots" content="index,follow" />
	<%= csrf_meta_tag %>
		
	<%= stylesheet_link_tag "geral" %>
</head>
<body>
<div id="container">
	<div id="devise_box">
		<% if !notice.blank? %>
		<p class="notice"><%= notice %></p>
		<% end %>

		<% if !alert.blank? %>			
		<p class="alert"><%= alert %></p>	
  	<% end %>
	
	<%= yield %>
	</div>
</div>
</body>
</html>
