<!DOCTYPE html>
<html>
<head>
  <title>Leil達o Suporte | Vers達o Beta 0.2</title>
    <%= javascript_include_tag :defaults, :ckeditor, 'jquery.js', 'fancybox/jquery.mousewheel-3.0.4.pack', 'fancybox/jquery.fancybox-1.3.4.pack' %>  
  <%= stylesheet_link_tag 'http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css', 'fancybox/jquery.fancybox-1.3.4.css', 'scaffold.css' %>

  <%= csrf_meta_tag %>
</head>
<body>

<div class="topbar">
	<div class="fill">
		<div class="container">
			<h3><%= link_to 'Leil達o Suporte | Vers達o Beta 0.2', root_url, :class => 'brand' %></h3>
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'pull-right'}) do |f| %>
	  			<%= f.email_field :email, :class => 'input-small', :style => "width:160px;", :placeholder => 'e-mail' %>
	 			<%= f.password_field :password, :class => 'input-small', :placeholder => 'senha' %>
	  			<button type="submit" class="btn">Entrar</button>
			<% end %>	
		</div>
	</div>
</div>

<div class="content">
	<% if flash[:alert] %>
	<div class="alert-message warning">
	  <p><%= flash[:alert] %></p>
	</div>
	<% end %>

	<% if flash[:notice] %>
	  <div class="alert-message success">
	    <p><%= flash[:notice] %></p>
	  </div>
	<% end %>

	<%= yield %>
</div>
</body>
</html>
